name: CI
on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]
    
jobs:
  build:
    environment: build
    runs-on: ubuntu-latest
    steps:
      - name: Install Vagrant and Virtualbox
        run: |
          sudo apt install vagrant -y
          sudo apt install virtualbox -y
      - uses: actions/checkout@v2          
      - name: Run a multi-line script
        run: |
          vagrant plugin install vagrant-vbguest  
          vagrant up
  test:
    needs: build
    environment: Initiate
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2          
      - name: Run a multi-line script
        run: |
          ssh master
          sudo salt \* test.ping
